---
import { Font } from "astro:assets"
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>Hadrian Lau</title>
    <meta
        name="description"
        content="Hadrian Lau's personal website"
    />
    <meta
        name="keywords"
        content="hadrian, lau, hadrian lau, udontur, tech, cs, hockey, programming, coding, personal website, website"
    />
    <meta name="author" content="udontur" />

    <Font cssVariable="--font-sans" preload />
    <Font cssVariable="--font-heading" preload />
    <Font cssVariable="--font-mono" preload />
</head>
