@import "tailwindcss";

@theme {
    --font-display: "Manrope";
    --color-main: #a1e752;
    --color-bg: #202020;
}

* {
    transition: all 0.15s ease-in-out;
}

html{
	background-color: #202020;
}