@import "tailwindcss";

@theme {
    --font-display: "Manrope";
    --color-main: #a1e752;
    --color-bg: #202020;
    --color-outline: #3D3D3D;
    --color-textMinor: #c1c1c1;
    --color-textMajor: #FFFFFF;
}

* {
    transition: all 0.15s ease-in-out;
}

html{
	background-color: #202020;
    color: white;
}