<div class="my-64">
    <div class="text-center">
        Thank <span class="text-2xl font-bold">You</span> for visiting my little
        corner of the <span class="italic">World's Wired Wilderness</span>!
    </div>
</div>

<!-- TODO: i want the You animated -->