---
import Layout from '../layouts/Layout.astro';
import BackgroundLayer from "@assets/background.svg";

import Main from '../components/Main.astro';
import Footer from "../components/Footer.astro";
import Header from "../components/Header/Header.astro";
---

<Layout>
	<div class="fixed top-[0] left-[0] w-full h-full blur-3xl z-[-1]">
		<BackgroundLayer/>
	</div>
	<body class="min-h-screen flex flex-col" >
		<header class="sticky top-0 pt-6">
			<Header />
		</header>
		<div class="flex-1 flex flex-col sm:flex-row">
			<main class="flex-1">
				<Main/>
			</main>
			<div class="md:w-32 order-first"></div>
			<div class="md:w-32"></div>
		</div>
		<footer>
			<Footer>
		</footer>
	</body>
</Layout>