---
import UdonturOutline from '@assets/icons/udontur-outline.svg';
import HeaderLinkCollection from "@components/Header/LinkCollection.astro";
---

<div
class="nav mr-6 ml-6 pt-4 pb-4 pr-8 pl-8
    flex justify-between rounded-[64px]
    border! border-outline backdrop-blur-sm z-1
    shadow-[0px_5px_8px_0px_rgba(99,99,99,0.2)]"
>
    <a href="/" class="no-underline">
        <button class="flex justify-center items-center gap-2 text-xl border-none bg-transparent cursor-pointer text-main text-shadow-[0px_0px_8px_var(--color-main)]">
            <UdonturOutline fill="var(--color-main)"/>
            Hadrian
        </button>
    </a>
    <!-- TODO: page transition api -->
    <HeaderLinkCollection/>
</div>