---
import linksData from "@data/header-links.json";
import Link from "./Link.astro";
---
<li class="flex gap-8 list-none">
    {
        linksData.map((linksData)=>{
            return (
                <Link
                    name={linksData.name},
                    link={linksData.link}
                />
            );
        })
    }
</li>
