---
import { Image } from "astro:assets";
import udonturImage from "@assets/images/udontur1000-transparent.png";
import { Signature } from "@components/spellui/signature";
---

<div class="flex flex-col">
    <div class="h-48"></div>
    <div class="flex-col items-center justify-items-center">
        <div>Yo! Nice to meet you! My name is</div>
        <Signature
            text="Hadrian Lau"
            fontSize={32}
            color="#a1e752"
        />
        <div>insert a punch line lol</div>
    </div>
    <div class="flex justify-between items-center">
        <div class="">
            <div class="large grid centered square-grid"></div>
            <div class="good">
                Hello!!!
            </div>
            <div class="font-big text-8xl">Hadrian</div>
            <div>is my name</div>
        </div>
        <div class="w-96">
            <Image
                src={udonturImage},
                alt="My profile picture (it's a cartoon turtle!)"
            />
        </div>
    </div>
    <div class="h-48"></div>
</div>
