---
import { SectionHeader } from "@/components/wrapper/SectionHeader.tsx"
import Orb from "@/components/Orb.astro"
import orbs from "@/data/about.json"
---

<SectionHeader client:load text="README.md Orbs" />
<div class="grid grid-cols-5 gap-4">
    {orbs.map((orb)=>{
        if(orb.type==="blank"){
            return (
                <div></div>
            )
        }else{
            return (
                <Orb
                    title={orb.title},
                    description={orb.description},
                    image={orb.image}
                />
            )
        }
    })}
</div>
