---
import Orb from "@/components/Orb.astro"
import { SectionHeader } from "@/components/wrapper/SectionHeader.tsx"
import orbs from "@/data/about.json"
---

<SectionHeader client:visible text="README.md Orbs" />
<div class="grid grid-cols-5 gap-x-0 gap-y-16 mt-12">
    {orbs.map((orb)=>{
        var css=""
        if(orb.place===2){
            css="justify-center"
        }else if(orb.place===3){
            css="justify-end"
        }
        if(orb.type==="blank"){
            return (
                <div></div>
            )
        }else{
            return (
                <Orb
                    title={orb.title}
                    description={orb.description}
                    image={orb.image}
                    place={css}
                />
            )
        }
    })}
</div>
