---
import { Image } from "astro:assets"
import udontur from "@/assets/images/udontur1000-transparent-blur.png"
import {
    SecondName,
    SignatureName,
    UserNameFlash,
} from "@/components/wrapper/HeroText.tsx"
import Linktree from "./Linktree.astro"
---

<div class="flex flex-col gap-96">
    <div class="flex max-w-md min-w-0 flex-col">
        <div class="-translate-x-7.5 mb-8">
            <SignatureName
                client:load
                size={181}
                color="#9ae600"
                duration={1.5}
                text="Hadrian"
            />
        </div>
        <div class="flex flex-col gap-0">
            <div class="mb-2 flex">
                <SecondName
                    client:load
                    speed={0.25}
                    className="text-5xl font-bold"
                    text="Lau "
                />
                <SecondName
                    client:load
                    speed={0.25}
                    className="text-5xl font-chinese"
                    text="劉曜熙"
                />
            </div>
            <div>
                <UserNameFlash
                    client:load
                    speed={42}
                    className="text-[54px] text-muted-foreground"
                    text="@udontur"
                />
            </div>
        </div>
    </div>
    <!-- This blur thingy took so long to fix!!!  -->
    <div class="flex flex-col items-center gap-0">
        <Image src={udontur} alt="avatar" width="512" />
        <Linktree />
    </div>
</div>
