---
import Socials from "@/components/ui/Socials.astro"
import socials from "@/data/socials.json"
---

<div class="flex flex-row justify-center gap-4 flex-wrap -mt-6 max-w-300">
    {socials.map((social)=>{
      return (
        <Socials
          name={social.name}
          url={social.url}
          svg={social.svg}
        />
      )
    })}
</div>
