---
import { Image } from "astro:assets"
import udontur from "@/assets/image/landing/udontur1000-transparent-blur.png"
import Socials from "@/components/Socials.astro"
import socials from "@/data/socials.json"
---

<div class="flex flex-col items-center gap-0">
    <Image
        src={udontur}
        alt="avatar"
        width="512"
        format="webp"
        loading="eager"
    />
    <div class="flex flex-row justify-center gap-4 flex-wrap -mt-6 max-w-300">
        {socials.map((social)=>{
          return (
            <Socials
              name={social.name}
              url={social.url}
              svg={social.svg}
            />
          )
        })}
    </div>
</div>
