---
import ThankPeople from "@/components/PunchLine/ThankPeople.astro"
import Divider from "@/components/ui/Divider.astro"
import { SectionHeader } from "@/components/wrapper/SectionHeader.tsx"
import About from "./About.astro"
import Landing from "./Landing.astro"
---

<div class="h-8"></div>
<Landing />
<!-- <Divider /> -->
<ThankPeople />
<About />
