---
import { Divider } from "@/components/ui/divider.tsx"
import { SectionHeader } from "@/components/wrapper/SectionHeader.tsx"
import ThankPeople from "@/components/PunchLine/ThankPeople.astro"
import Landing from "./Landing.astro"
---

<div class="h-8"></div>
<Landing />
<Divider />
<ThankPeople/>
<SectionHeader client:load text="About Me!" />
<div class="h-8"></div>
Normal text about me, this is just a placeholder for now. I will write something
more interesting here later, but for now, you can just imagine that this is some
really cool and interesting information about me that you would want to read.
Maybe I will even add some pictures or something to make it more visually
appealing. Who knows? The possibilities are endless!
<div class="h-256"></div>
