---
import Landing from "./Landing.astro"
import Linktree from "./Linktree.astro"
import About from "./About.astro"
import Experience from "./Experience.astro"

import PunchLine1 from "@/components/PunchLine/ThankPeople.astro"
import PunchLine2 from "@/components/PunchLine/Age.astro"
---

<div class="h-8"></div>
<Landing />
<div class="h-96"></div>
<Linktree/>
<!-- <Divider /> -->
<PunchLine1 />
<About />
<PunchLine2 />
<Experience/>
