---
import { Button } from "@/components/ui/button";
import { DemoDrawer } from "@/components/demo-drawer.tsx";
import { Reveal } from "@/components/wrapper/blur.tsx";
---

<div class="flex min-h-svh p-6">
  <div class="flex max-w-md min-w-0 flex-col gap-4 text-sm leading-loose">
    <div>
        <Reveal
          client:load
          text="I'm Hadrian!"
        />
        <Reveal
            client:load
            text="Header pro MAx!!!"
        />
      <DemoDrawer client:load />
      <Button client:load className="mt-2">Button</Button>
      <button class="bg-blue-500 border-t-cyan-100"><a href="https://hadrian.cc">NIgger </a>GOod morning</button>
    </div>
  </div>
</div>
