---
import { Divider } from "@/components/ui/divider.tsx"
import { SectionHeader } from "@/components/wrapper/SectionHeader.tsx"
import ThankPeople from "@/components/PunchLine/ThankPeople.astro"
import About from "./About.astro"
import Landing from "./Landing.astro"
---

<div class="h-8"></div>
<Landing />
<!-- <Divider /> -->
<ThankPeople/>
<About/>
