@font-face {
    font-family: "Phantom Sans";
    src: local("Phantom Sans"), url(/fonts/PhantomSans/Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Phantom Sans";
    src: local("Phantom Sans"), url(/fonts/PhantomSans/Bold.woff2) format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Phantom Sans";
    src: local("Phantom Sans"), url(/fonts/PhantomSans/Semibold.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Shantell Sans";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: local("Shantell Sans"), url(/fonts/ShantellSans/Regular.woff2) format('woff2');
 }
