.nav{
    /* grid-column: span 3;
    height: 72px;
    background: linear-gradient(0.25turn, #a1e754, #8FDEC6); */
    /* border-end-end-radius: 16px;
    border-end-start-radius: 16px;
    */
    /* box-shadow: 0px 0px 20px 15px #d9fdb3;
    display: flex;
    margin: 0 -16px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 32px; */
    position: sticky;
    top: 16px;
    margin: 24px;
    margin-top: 16px !important;
    padding: 16px 32px;
    border-radius: 64px;
    border-width: 1.5px !important;
    border: solid;
    border-color: #3D3D3D;
    background: transparent;
    backdrop-filter: blur(10px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 8px 0px;
    /* box-shadow: 0px 0px 15px 5px #807d7da9; */
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.nav>a>button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 20px;
    border-radius: 64px;
    border-width: 1px !important;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #c1c1c1;
    
}

.nav>a>button>svg>g{
    fill: #a1e752 !important;
    -webkit-filter: drop-shadow( 0px 0px 20px #a1e754);
    filter: drop-shadow( 0px 0px 0px #a1e754);
}
.nav>a>button{
    color: #a1e752;
    text-shadow: 0px 0px 8px #a1e754;
}
.nav>a{
    text-decoration: none;
}
.nav>a>button>img{
    border-radius: 10px;
    width: 32px;
}
.nav>li>ul>a{
    text-decoration: none;
    color: #c1c1c1;
}
.nav>li>ul>a:hover{
    text-decoration: none;
    color: #fff;
}
.nav>li>ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav>li{
    list-style-type: none;
    display: flex;
    gap: 32px;
}
#experience{
    scroll-behavior: smooth !important;
}
#contest{
    scroll-behavior: smooth !important;
}
#projects{
    scroll-behavior: smooth !important;
}
#skills{
    scroll-behavior: smooth !important;
}
#contact{
    scroll-behavior: smooth !important;
}
#{
    scroll-behavior: smooth !important;
}
*, hmtl {
    scroll-behavior: smooth !important;
}
