---
import { Font } from "astro:assets";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />

<title>Hadrian Lau</title>
<meta name="description" content="A eye-candy linktree for DSC International School">
<meta name="keywords" content="dsc, dsc linktree, linktree, nice linktree">
<meta name="author" content="udontur">

<Font cssVariable="--font-manrope" preload />

<style>
    body {
        font-family: var(--font-manrope)
    }
</style>