---
import UdonturLogo from "@/assets/icons/udontur-outline.svg";
const linkData = [
  { tag: "#about", text: "About" },
  { tag: "#experience", text: "Experience" },
  { tag: "#contests", text: "Contests" },
  { tag: "#projects", text: "Projects" },
  { tag: "#contact", text: "Contact" },
];
---
<div class="flex">
  <a href="#">
    <button>
      <div class="flex">
        <UdonturLogo width={32} fill="#9ae600"/>
        Hadrian
      </div>
    </button>
  </a>
  <li class="">
    {
      linkData.map((linkData)=>{
        return (
        <ul>
          <a href={linkData.tag}>{linkData.text}</a>
        </ul>
        )
      })
    }
  </li>
</div>
